---
import { Card, Img, Title, Summary } from "./PandaCard";

const { article, articleType } = Astro.props;
---

<div class={Card}>
  <a href={`/${articleType}/${article.id}`}>
    <img class={Img} src={article.imageUrl} />
  </a>
  <h2 class={Title}>{article.title}</h2>
  <p class={Summary}>{article.summary}</p>
</div>
