---
import Layout from "../layouts/Layout.astro";
import Card from "../components/PandaCard/PandaCard.astro";
import { ArticleContainer, Container, Reports, Title, Text } from ".";

// import { theme } from ".././styles/theme";
// import {
//   StyledReports,
//   StyledText,
//   StyledContainer,
//   StyledTitle,
//   StyledArticleContainer,
// } from "./index.styles";
// import { ThemeProvider } from "styled-components";

export interface IArticle {
  userId: number;
  id: number;
  title: string;
  imageUrl: string;
  summary: string;
}

export interface IReport {
  id: number;
  title: string;
  url: string;
  imageUrl: string;
  newsSite: string;
  summary: string;
  publishedAt: string;
}

const articleResponse = await fetch(
  "https://api.spaceflightnewsapi.net/v3/articles"
);

const reportResponse = await fetch(
  "https://api.spaceflightnewsapi.net/v3/reports"
);

const articleData = await articleResponse.json();
const reportData = await reportResponse.json();

const articles = articleData.slice(0, 11);
const reports = reportData.slice(0, 20);
---

<Layout title="AstroNews">
  <main>
    <h1 class={Title}>*ASTRONEWS*</h1>

    <div class={Container}>
      <div>
        <p class={Text}>Latest articles</p>
      </div>
      <div class={ArticleContainer}>
        {
          articles.map((article: IArticle) => (
            <Card article={article} articleType="article" />
          ))
        }
      </div>
      <div class={Reports}>
        <p class={Text}>Reports</p>
      </div>
      <div class={ArticleContainer}>
        {
          reports.map((report: IReport) => (
            <Card article={report} articleType="report" />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
<!-- <ThemeProvider theme={theme}> -->
<!-- <Layout title="Astro News">
  <main>
    <StyledTitle>*ASTRONEWS*</StyledTitle>

    <StyledContainer>
      <div>
        <StyledText>Latest articles</StyledText>
      </div>
      <StyledArticleContainer>
        {
          articles.map((article: IArticle) => (
            <Card article={article} articleType="article" />
          ))
        }
      </StyledArticleContainer>
      <StyledReports>
        <StyledText>Reports</StyledText>
      </StyledReports>
      <StyledArticleContainer>
        {
          reports.map((report: IReport) => (
            <Card article={report} articleType="report" />
          ))
        }
      </StyledArticleContainer>
    </StyledContainer>
  </main>
</Layout> --><!-- </ThemeProvider> -->
<style>
  @layer reset, base, tokens, recipes, utilities;
</style>
